In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

In [3]:
df=data

In [4]:
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [5]:
df.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [6]:
#1. Delete unnamed columns
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
df.columns

Index(['Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [8]:
#2. Show the distribution of male and female
df['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [12]:
#3. Show the top 5 most preferred names
df['Name'].value_counts().head()

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [18]:
#4. What is the median name occurence in the dataset
df.Name.mode()

0    Riley
dtype: object

In [19]:
#5. Distribution of male and female born count by states
df.groupby(['State','Gender']).size().head()

State  Gender
AK     F         2404
       M         2587
AL     F         9878
       M         8419
AR     F         7171
dtype: int64